$bg: #f6f7fa;
$accent: #703bda;
$main: white;
$textSecondary: #9fa5b8;
$text: #1f263a;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700,900&display=swap");

body {
  background-color: $bg !important;
  font-size: 16px;
  font-family: "Roboto", sans-serif !important;
  color: $text !important;
}

.screen {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;

  .screen__sidebar {
    width: 25%;
    height: 100%;
    overflow-y: scroll;
    background-color: $main;
    padding: 0 1rem;
  }

  .shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .screen__content {
    width: 75%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1rem;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
}

.sidebar {
  .sidebar__logo {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    img {
      width: 5rem;
      height: 5rem;
    }
    h1 {
      font-size: 1.55rem;
      font-weight: 900;
      margin: 0;
      padding: 0;
      line-height: 0.75;
      margin-top: 0.5rem;
      color: $accent;
    }
    h4 {
      font-weight: bold;
    }
  }
  .sidebar__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 2rem;

    .sidebar__list__item {
      color: $textSecondary;
      font-weight: bold;
      padding: 0.5rem 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      border-radius: 8px;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      transition: all 0.25s ease;
    }

    .sidebar__list__item__active {
      font-weight: bold;
      padding: 0.5rem 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      border-radius: 8px;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      color: white;
      background-color: $accent;
      transition: all 0.25s ease;
    }

    .sidebar__list__item:hover {
      color: white;
      background-color: $accent;
    }

    span {
      font-size: 0.8rem;
    }

    .sidebar__list__item__icon {
      margin-right: 0.8rem;
    }
  }
}

.page {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .page__data__header {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-size: 2rem;
      font-weight: 900;
      margin: 0;
      padding: 0;
      line-height: 1;
    }
  }

  .page__data__content {
    width: 100%;
  }
}

.box {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(158, 160, 167, 0.06),
    0 3px 6px rgba(175, 186, 216, 0.13);
  padding: 1rem;
}

.box--paises {
  padding: 0.25rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle-section {
  font-size: 1.1rem;
  margin-bottom: 0.15rem;
  color: $textSecondary;

  p {
    font-size: 0.8rem;
  }
}

th {
  font-size: 0.8rem !important;
}

td {
  font-size: 0.75rem !important;
}

.bg-blue-100 {
  background-color: $accent;
  color: white;
}

.country__list {
  position: absolute;
  z-index: 200;
  height: 50vh !important;
}

.country-list__item {
  width: 190px;
  background-color: $textSecondary;
  color: white;
  padding: 0.25rem;
  font-weight: bold;
}

.MuiButton-containedPrimary {
  color: #fff;
  background-color: $accent !important;
}
